 .u-section-1 {
  background-image: url("images/Untitleddesign.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  font-size: 3rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 303px -54px 0 484px;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  line-height: 1.6;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 1.25s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 21px -46px 0 492px;
}

.u-section-1 .u-social-icons-1 {
  height: 28px;
  min-height: 16px;
  width: 124px;
  min-width: 88px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 25px auto 60px 490px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 384px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 392px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 274px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 282px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 184px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 192px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

.u-section-1 .u-text-2,
.u-section-1 .u-text-2:before,
.u-section-1 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-2 {
  opacity: 1 !important;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-2 {
  opacity: 1 !important;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,1), rgba(0,0,0,1)), url("images/default-image.jpg");
  background-position: 50% 50%;
  min-height: 714px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 16px;
}

.u-section-2 .u-image-1 {
  min-height: 363px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/photo_2023-10-20_08-05-41.jpg");
  background-position: 50% 57.57%;
  background-size: 185%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-image-2 {
  min-height: 363px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/photo_2023-10-20_07-43-06.jpg");
  background-position: 50% 0%;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-image-3 {
  min-height: 363px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/photo_2023-10-20_08-39-24.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  min-height: 363px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.48), rgba(0,0,0,0.48)), url("images/photo_2023-10-20_08-39-28.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-image-5 {
  min-height: 335px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/photo_2023-10-20_08-36-24.jpg");
  background-position: 50% 100%;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-image-6 {
  min-height: 335px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/photo_2023-10-20_07-47-47.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-2 .u-image-7 {
  min-height: 335px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/photo_2023-10-20_08-36-31.jpg");
  background-position: 36.52% 31.94%;
  background-size: 160%;
}

.u-section-2 .u-container-layout-7 {
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 248px;
  }

  .u-section-2 .u-image-1 {
    min-height: 299px;
  }

  .u-section-2 .u-image-2 {
    min-height: 299px;
  }

  .u-section-2 .u-image-3 {
    min-height: 299px;
  }

  .u-section-2 .u-image-4 {
    min-height: 299px;
  }

  .u-section-2 .u-image-5 {
    min-height: 277px;
  }

  .u-section-2 .u-image-6 {
    min-height: 276px;
  }

  .u-section-2 .u-image-7 {
    min-height: 276px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 175px;
  }

  .u-section-2 .u-image-1 {
    min-height: 229px;
  }

  .u-section-2 .u-image-2 {
    min-height: 229px;
  }

  .u-section-2 .u-image-3 {
    min-height: 229px;
  }

  .u-section-2 .u-image-4 {
    min-height: 229px;
  }

  .u-section-2 .u-image-5 {
    min-height: 212px;
  }

  .u-section-2 .u-image-6 {
    min-height: 211px;
  }

  .u-section-2 .u-image-7 {
    min-height: 211px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1567px;
  }

  .u-section-2 .u-image-1 {
    min-height: 687px;
  }

  .u-section-2 .u-image-2 {
    min-height: 687px;
  }

  .u-section-2 .u-image-3 {
    min-height: 687px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    min-height: 687px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-5 {
    min-height: 477px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-6 {
    min-height: 475px;
  }

  .u-section-2 .u-image-7 {
    min-height: 475px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 963px;
  }

  .u-section-2 .u-image-1 {
    min-height: 433px;
  }

  .u-section-2 .u-image-2 {
    min-height: 433px;
  }

  .u-section-2 .u-image-3 {
    min-height: 433px;
  }

  .u-section-2 .u-image-4 {
    min-height: 433px;
  }

  .u-section-2 .u-image-5 {
    min-height: 300px;
  }

  .u-section-2 .u-image-6 {
    min-height: 299px;
  }

  .u-section-2 .u-image-7 {
    min-height: 299px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 777px;
}

.u-section-3 .u-slider-1 {
  width: 758px;
  min-height: 478px;
  height: auto;
  margin: 150px auto 60px;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-3 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/brent.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  margin: 81px 0 0;
}

.u-section-3 .u-text-2 {
  width: 409px;
  margin: 20px auto 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0;
}

.u-section-3 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/photo_2023-10-20_08-36-42.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 41px;
}

.u-section-3 .u-text-3 {
  margin: 80px 0 0 33px;
}

.u-section-3 .u-text-4 {
  width: 409px;
  margin: 20px auto 0;
}

.u-section-3 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 50px auto 0;
}

.u-section-3 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/photo_2023-10-20_07-37-37.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 41px;
}

.u-section-3 .u-text-5 {
  margin: 80px 0 0 33px;
}

.u-section-3 .u-text-6 {
  width: 409px;
  margin: 20px auto 0;
}

.u-section-3 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 50px auto 0;
}

.u-section-3 .u-carousel-control-1 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: -58px;
  position: absolute;
  right: auto;
  padding: 10px;
}

.u-section-3 .u-carousel-control-2 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: auto;
  position: absolute;
  right: -58px;
  padding: 10px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-3 {
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 568px;
  }

  .u-section-3 .u-slider-1 {
    width: 720px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 530px;
  }

  .u-section-3 .u-slider-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-slider-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    width: 320px;
  }

  .u-section-3 .u-text-4 {
    width: 320px;
  }

  .u-section-3 .u-text-6 {
    width: 320px;
  }
}body {
	background-color: grey
}