 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/Untitleddesign.png");
  background-position: 60.48% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1787px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  width: 661px;
  margin: 134px auto 0;
}

.u-section-1 .u-gallery-1 {
  height: 375px;
  width: 645px;
  margin: 41px auto 0 248px;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35));
  padding: 20px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35));
  padding: 20px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35));
  padding: 20px;
}

.u-section-1 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35));
  padding: 20px;
}

.u-section-1 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35));
  padding: 20px;
}

.u-section-1 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35));
  padding: 20px;
}

.u-section-1 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35));
  padding: 20px;
}

.u-section-1 .u-carousel-item-8 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35));
  padding: 20px;
}

.u-section-1 .u-carousel-item-9 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35));
  padding: 20px;
}

.u-section-1 .u-carousel-item-10 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35));
  padding: 20px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: -50px;
  width: 40px;
  height: 40px;
  right: auto;
  padding: 8px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -50px;
  padding: 8px;
}

.u-section-1 .u-text-2 {
  line-height: 2.05;
  font-size: 0.75rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  text-transform: uppercase;
  width: 664px;
  margin: 23px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 31px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 238px;
  margin: 30px -87px 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 449px;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px;
}

.u-section-1 .u-video-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-layout-wrap-2 {
  width: 238px;
  margin: -412px auto 0 -119px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 449px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px;
}

.u-section-1 .u-layout-wrap-3 {
  width: 238px;
  margin: -419px auto 0 413px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 449px;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px;
}

.u-section-1 .u-video-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-text-4 {
  line-height: 2.05;
  font-size: 0.75rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  text-transform: uppercase;
  margin: -257px 692px 0 129px;
}

.u-section-1 .u-text-5 {
  line-height: 2.05;
  font-size: 0.75rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  text-transform: uppercase;
  margin: -120px -417px 0 1238px;
}

.u-section-1 .u-text-6 {
  line-height: 2.05;
  font-size: 0.75rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  text-transform: uppercase;
  margin: -48px 161px 0 660px;
}

.u-section-1 .u-layout-wrap-4 {
  width: 238px;
  margin: 280px auto 0 -119px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 449px;
}

.u-section-1 .u-container-layout-4 {
  padding: 20px;
}

.u-section-1 .u-video-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-layout-wrap-5 {
  width: 238px;
  margin: -419px auto 0 413px;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 449px;
}

.u-section-1 .u-container-layout-5 {
  padding: 20px;
}

.u-section-1 .u-video-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-layout-wrap-6 {
  width: 238px;
  margin: -419px -87px 0 auto;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 449px;
}

.u-section-1 .u-container-layout-6 {
  padding: 20px;
}

.u-section-1 .u-video-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-text-7 {
  line-height: 2.05;
  font-size: 0.75rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -285px -416px 0 1238px;
}

.u-section-1 .u-text-8 {
  line-height: 2.05;
  font-size: 0.75rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -68px 727px 0 129px;
}

.u-section-1 .u-text-9 {
  line-height: 2.05;
  font-size: 0.75rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -48px 161px 60px 661px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1477px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 450px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 450px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 592px;
    margin-left: 29px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 1138px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 61px;
    margin-left: 560px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 450px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 450px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 1138px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 627px;
    margin-left: 29px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 61px;
    margin-left: 561px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-gallery-1 {
    margin-left: 75px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 449px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 449px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 401px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 1028px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 401px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 449px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 449px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 1028px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 436px;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 402px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-gallery-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-wrap-3 {
    margin-left: 302px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 221px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 938px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 221px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-wrap-5 {
    margin-left: 302px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 938px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 256px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 222px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 438px;
  }

  .u-section-1 .u-gallery-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-layout-wrap-3 {
    margin-left: 102px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 21px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 838px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 21px;
  }

  .u-section-1 .u-layout-wrap-5 {
    margin-left: 102px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 838px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 56px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 22px;
  }
}